@import url('https://fonts.googleapis.com/css?family=Satisfy');

/*Theme colors*/

$theme-dark : black;
$theme-light : white;
$theme-color-1 : salmon;

/*Font properties*/

$font-family : 'Satisfy', cursive;
$fontsize-L : 50px;
$fontsize-S : 20px;

/* Menubar properties */

$menuBar-width: 100px;
$menuItem-height : 100px;
$menu-color : $theme-color-1;
