@import url('https://fonts.googleapis.com/css?family=Satisfy');
@font-face {
	font-family: 'Linearicons-Free';
	src:url('../img/fonts/Linearicons-Free.eot?w118d');
	src:url('../img/fonts/Linearicons-Free.eot?#iefixw118d') format('embedded-opentype'),
		url('../img/fonts/Linearicons-Free.woff2?w118d') format('woff2'),
		url('../img/fonts/Linearicons-Free.woff?w118d') format('woff'),
		url('../img/fonts/Linearicons-Free.ttf?w118d') format('truetype'),
		url('../img/fonts/Linearicons-Free.svg?w118d#Linearicons-Free') format('svg');
	font-weight: normal;
	font-style: normal;
}

/*Theme colors*/

$theme-dark : black;
$theme-light : white;
$theme-color-1 : salmon;

/*Font properties*/

$font-family : 'Satisfy', cursive;
$fontsize-L : 50px;
$fontsize-M : 30px;
$fontsize-S : 20px;

/* Menubar properties */

$menuBar-width: 100px;
$menuItem-height : 100px;
$menu-color : $theme-dark;

/* Menu dynamic customizations */
$menuImagesList : "\e800","\e82b","\e863","\e827","\e831";
$menuColors : 4d95a3,d5ad3f,d76841,51d3c1,d06182;
