@import '_variable';
@import '_mixin';

/* Start about wrapper styles */

.wrapper_aboutwrapper{
    @include boxSize(80%,60%); 
    position: absolute; 
    @include margin(10%, '', '', 10%);
    min-width: 600px;

    .about_area{
        float: left;
        @include boxSize(55%,100%); 
        @include padding(3%, 5%, '', 3%);

        .contentHeader{         
            color: unquote("#"+nth($menuColors , 2 ));
            border-bottom: 2px solid unquote("#"+nth($menuColors , 2 ));
        }

        .content{
            overflow: auto;
            line-height: 24px;
            @include boxSize(100%,80%); 
            @include padding(8%);
            color: rgb(240, 240, 240);
        }
    }
    .about_photo{
        float: left;
        @include boxSize(35%,100%); 
        @include padding('', '', '', 5%);

        img{
            @include boxSize(100%,100%); 
            border-radius: 2%;
            box-shadow: 0 0 15px 5px $about-shadow ;
        }
    }
}

