$button-color: whitesmoke;
$button-width:35px;
$carousel-height: 100vh;



.carouselViewpane{
    height: $carousel-height;
    //border: 3px solid green; 
    display: flex;
    position: relative;

}
.navL {
    left: 0;
}
.navR {
    right: 0;
}
.navButton{
    position: absolute;
    top: 0;
    bottom: 0;
    width: $button-width;
    cursor: pointer;
    background-color: $button-color;
    padding: 0;
    outline: none;
    opacity: .1;
    //border: 1px solid black; 
    transition: opacity .4s ease-in-out;
    z-index: 3;
    &:hover { opacity: 0.4;}
}
.slider-enter {
    opacity: 0.5;
}
.slider-enter{
    &.slider-enter-active {
        opacity: 1;
        transition: opacity 1000ms ease-in;
    }
}
.slider-leave {
    opacity: 1;
}
  
.slider-leave{
    &.slider-leave-active {
        opacity: 0.5;
        transition: opacity 1000ms ease-in;
    }

}
