@import '_variable';
@import '_mixin';

/* Start timeline wrapper styles */
.wrapper-timelinewrapper{
    @include boxSize(100%,100%);
    .timeline-header{
        @include boxSize(85%,$timeline-header-height); 
        @include margin('','','',$timeline-screen-margin);
        position: relative;
        border-bottom: 2px solid unquote("#"+nth($menuColors , 3 ));
        .timeline-heading{
            position: absolute;
            top: 50%;
            font-size: $fontsize-M;
            color: unquote("#"+nth($menuColors , 3 ));
        }
    } 
    .timeline-viewpane{
        @include boxSize(100%,$timeline-body-height) ;
        width: 92%;
        .timeline-line{
            position: relative;
            top:35%;
            img{
                width: 100%
            }
        }
    }
}